html{
    background-color: aliceblue;
}
body{
    width: 75%;
    margin: 0 auto;
    background-color: crimson;
    border: .5rem solid black;
    font-family: "Helvetica Neue", sans-serif;
}
.doge{
    display: block;
    padding: .5rem;
    margin: 0 auto;
    border-radius: 100%;
    background-repeat: no-repeat;
    border: 1rem groove darkgray;
}
h1{
    font-size: 2rem;
    color: darkgray;
}
#part2{
    font-family: "Apple Braille";
    color: black;
}
li:nth-child(2n+1){
    color: greenyellow;
}

div1{
    padding-bottom: .5rem;
}