html,body{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
div2{
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    background-image: url("../../../Dancing Vines_Blue_40x30_Oil on Board.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2rem;
    text-align: center;
}
ul{
    display: flex;
    flex-flow: column wrap;
}

    a{
        display: block;
    }

